.main-bg {
	background-color: #4C4C4C;
	margin: 0;
}

.placeholder-pfp {
	background-color: #53d6fd;
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
	height: 80px;
	width: 80px;
}

.placeholder-icon {
	background-color: #8B74BD;
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
	height: 80px;
	width: 80px;
}

.left-menu {
	background-color: #000000;
	border: 1px solid #53d6fd;
	position: fixed;
	height: calc(100vh - 3px);
	width: 100px;
}
