.main-bg {
	background-color: #ff8ba6;
	/*background-image: url("space_bg-01.jpg");*/
	margin: 0;
}

.divider {
	background-color: #000000;
	position: absolute;
}

.left-menu {
	align-items: center;
	margin: 2%;
	height: 92%;
	width: 25%;
}

.home_page-main_text {
	margin-left: .5%;
	margin-top: 2.2%;
	left: 30%;
	width: 65%;
	height: 42.5%;
}

.format-page_text {
	margin-left: .5%;
	margin-top: 2.2%;
	left: 30%;
	width: 65%;
	height: 91.5%;
}

.spotify-box {
	margin-left: .5%;
	margin-bottom: 2.5%;
	left: 30%;
	bottom: 0;
	width: 25%;
	height: 42.5%;
}

.twitter-box {
	margin-left: .5%;
	margin-bottom: 2.5%;
	left: 58%;
	bottom: 0;
	width: 37%;
	height: 42.5%;
}

.items {
	top: 50%;
	left: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
}

.left-menu-item {
	color: #ffffff;
	font-size: x-large;
	text-align: center;
}

.left-menu-button {
  background-color: #000000;
  border: none;
  font-size: x-large;
	text-align: center;
	align-self: center;
  color: #ffffff;
	cursor: pointer;
	width: 210px;
	height: 65px;
	top: 50%;
	left: 50%;
}

.main-body-text {
	font-size: x-large;
}

.main-top-text {
	padding-top: 1%;
}

.main-bottom-text {
	padding-bottom: 1%;
}

.main-text {
	color: #ffffff;
	padding-left: 2%;
	padding-right: 2%;
}
